<style>
    .search-btn{
    background-color: #c242fe;
    color: white;
    border: #c242fe;
    border-radius: 25px;
    padding: 0rem 1rem 0rem 1rem;
}

.search-btn:hover{
        background-color: #c242fe;
        color: white;
}

.search-btn i{
  display: inline;
}

.search-inp{
  border-radius: 25px;
  padding: 0.3rem 2rem 0.3rem 2rem;
}

.srch-con{
  padding: 0.5rem 1.8rem 0.5rem 1.8rem;
  border: 1px solid rgb(237, 232, 232);
  border-radius: 7rem;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.5);
}
.navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.make-space{
  margin-bottom: 140px;
}
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" id="nav-line">
    <div class="container-fluid" >
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button id="myButton" class="hamburger hamburger--spin navbar-toggler " type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button> 
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>
        <div class="navbar-nav ms-auto " id="elementToHide">
          <nav class="navbar border-bottom ">
            <div class="container-fluid srch-con">
              <form class="d-flex" role="search">
                <input class="form-control me-2 search-inp" type="search" placeholder="Search Destinations" aria-label="Search">
                <button class="btn btn-outline-success search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
            </div>
          </nav>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your home &nbsp;</a>
          <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>SignUp</b> </a>
          <a class="nav-link" href="/login"><b>Login</b> <i class="fa-solid fa-right-to-bracket"></i></a>
          <% } %>
          <% if(currUser) { %>
          <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> <b>Logout </b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
  <script>
            document.getElementById("myButton").addEventListener("click", function() {
            this.classList.toggle("is-active");
            let navMenu = document.getElementById("navbarNavAltMarkup");
            navMenu.classList.toggle("mt-3"); 
            let filters = document.getElementById("nav-line");
            filters.classList.toggle("make-space");
            document.getElementById("elementToHide").style.display = "none"; 
        });

  </script>